:root {
  --title-color: #212121;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --hero-footer-background: #2f303a;
  --main-site-background: #ffffff;
  --second-site-background: #f5f4fa;
  --header-logo-color: #000000;
  --footer-logo-color: #ffffff;
  --footer-text-color: #ffffff;
  --hero-title-color: #ffffff;
  --hero-btn-color: #ffffff;
  --hero-btn-background: #2196f3;
  --team-item-background: #ffffff;
  --timig-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;
}
