.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  padding-top: 24px;
  padding-bottom: 25px;
  &__span--header {
    color: var(--header-logo-color);
  }
  &__span--footer {
    color: var(--footer-logo-color);
  }
}

.footer__logo {
  display: block;
  padding-top: 0;
  padding-bottom: 0px;
  margin-bottom: 20px;
}