.team {
  @include section(94px, 94px);
  background: var(--second-site-background);
  // padding: 94px 0px;
}

.team__list {
  @include flex(null, null, null, wrap);
  // display: flex;
  margin-left: -30px;
}

.card-teams {
  background-color: var(--team-item-background);
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  &__content {
    padding: 30px;
  }
  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: inherit;
    margin-bottom: 10px;
  }
  &__text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    margin-bottom: 16px;
  }
}

